* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* MEU GRID PARA DEFINIR O POSICIONAMENTO DAS COISAS NA PAGINA */
.meu-grid{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 130px auto auto;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
    background-color: rgb(209, 209, 209);
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    margin: auto;
}
/* MAIN - P e TRAILERS */
.main{
    background-color: black;
}
.div-banner h1{
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.div-banner p{
    display: flex;
    padding: 20px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    /* width: 80rem; */
}
.sec-trailers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-trailer .conteudo .container3 .main{
    display: flex;
    height: 3rem;
    color: aliceblue;
    margin-top: -2%;
    position: absolute;
    align-items: center;
    width: 100%;
}
.icon-button{
    color: aliceblue;
    display: flex;
    justify-content: center;
}
/* MAIN - H2 e GALERIA DE IMAGENS */
.sec-galeria h2{
    display: flex;
    margin-top: 1rem;
    color: rgb(240, 248, 255);
    margin-bottom: 3rem;
    font-size: 4rem;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
}
/*Posição das imagens*/
@media screen and (max-width: 5000px){
    .imagens{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 2rem;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px){
    .imagens{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 2rem;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 768px){
    .imagens{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 426px){
    .imagens{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 2rem;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
} 
/*Posição dos trailers*/
@media screen and (max-width: 5000px){
    .div-trailers{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        ;
    }
    .div-trailers img{
        max-width: 45rem;
        border-color: aliceblue;
    }
    div .icon-button{
        display: flex;
        text-decoration: none;
    }
}
@media screen and (max-width: 426px){
    .div-trailers{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 0;
    }    
}