* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body, html{
    font-size: 100%;
}
.main{
    height: 100%;
}
.sec-main .container .questions{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
div .h1-perguntas{
    display: flex;
    justify-content: center;
    text-decoration: solid 2px underline;
    color: aliceblue;
    font-size: 3rem;
    padding: 20px;
}
.questions img{
    max-width: 75px;
    max-height: 75px;
    margin-top: 2rem;
}
.container h4{
    display: flex;
    justify-content: center;
    align-items: center;
}