* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    background-color: #14035f;
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

  }
/* HEADER */
.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "logo navi comprar";
    align-items: center;
}
.logo2{
    grid-area: logo;
    display: flex;
    align-items: center;
}
.menu{
    grid-area: navi;
    display: flex;
    justify-content: space-around;
}
.compra{
    grid-area: comprar;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    gap: 3.2rem;
    padding: 10px;
    border: 2px solid rgb(10, 10, 10);
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu a{
    background-color: black;
    color: white;
}
.compra a{
    background-color: rgb(253, 228, 0);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 8rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.compra:hover{
    transition: all;
    transition: 1s;
    transform-style: solid rgb(204, 191, 3);
}
/* MAIN - P e TRAILERS */
.div-banner h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-banner p{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* width: 80rem; */
}
.div-trailers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.div-trailers img{
    max-width: 45rem;
}
.sec-trailers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-trailer .conteudo .icon-button .container3{
    display: flex;
    /* backdrop-filter: 100px; */
    height: 3rem;
    margin-top: -2%;
    position: absolute;
    align-items: center;
    width: 100%;
}
/* MAIN - H2 e GALERIA DE IMAGENS */
.div-galeria h2{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
}
.imagens{
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
    gap: 2.5rem;
    flex-direction: row;
    user-select: none;
    padding: 10px;
}
/* FOOTER */
.div-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 20px;
    grid-template-areas:
    "logo . redes"
    ". . texto";
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}
.redes{
    grid-area: redes;
    display: flex;
    gap: 2.5rem;
    justify-content: right;
    align-items: center;
}
.redes ul{
    display: flex;
    gap: 2.5rem;
    padding-right: 15px;
}
.texto{
    grid-area: texto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
}
/* MAIN - GALERIA DE IMAGENS (TENTANDO CRIAR SWIPPER DE IMAGENS) */
.swipper{
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.swipper{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
element.style{
    cursor: grab;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
}
.imagens-atacantes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.imagens-atacantes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-descricao{
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 1fr 1fr;
}
.descricao-sledge{
    grid-area: texto;
    display: flex;
    justify-content: end;
}
.imagens-defensores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.imagens-defensores div{
    display: flex;
    justify-content: center;
    align-items: center;
}
div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
