* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body, html{
    font-size: 100%;
}
.full{
    width: 100%;
    height: 68vh;
}
.main{
    height: 100%;
}
.main .container .flex{
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
h2{
    font-size: 2rem;
    
}

.div-requires h1{
    display: flex;
    justify-content: center;
    text-decoration: solid 2px underline;
    color: aliceblue;
    font-size: 3rem;
    padding: 20px;
}
.container{
    max-width: 128.6rem;
    padding: 0px 1.5rem;
}
@media screen and (max-width: 426px){
    .main .container .flex{
        flex-direction: column;
    }
    .full{
        width: auto;
        height: auto;
    }
}@media screen and (max-width: 768px){
    .main .container .flex{
        flex-direction: column;
    }
    .full{
        width: auto;
        height: auto;
    }
}