* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  background-color: #14035f;
  color: rgb(255, 255, 255);
  list-style: none;
  text-decoration: none;
}
.header{
  display: grid;
  grid-template-areas:
  "logo nav compra";
  justify-content: space-between;
  gap: 250px;
  align-items: center;
  justify-content: space-between;
  padding: 0.75%;
  background-color: #14035f
}
.navegacao {
  grid-area: nav;
  grid-template-columns: 1px;
  display: flex;
  justify-self: stretch;
}
/* div ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.0rem;
  padding: 10px;
}
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 1;
  visibility: visible; */

.compra{
  grid-area: compra;
}
.logo{
  grid-area: logo;
  justify-content: start;
}
.logo2{
  gap: 10px;
  justify-content: start;
}

nav li {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  padding: 10px;
  border: 2px solid rgb(10, 10, 10);
  background-color: black;
  color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
 }
  nav ul{
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  padding: 10px;
} 
 /* 
.menu a{
  background-color: black;
  color: white;
}

.compra a{
  background-color: rgb(253, 228, 0);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  width: 8rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.compra:hover{
  transform-style: color rgb(255, 255, 255);
  transition: all;
  transition: 1s;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.75%;
  background-color: #14035f
}
.redes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.texto{
  display: flex;
  align-items:end;
  justify-content:right;
  padding: 0.25%;
}
div li {
  display: flex;
  flex-direction: row;
  gap: 3.0rem;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main{
  background-color: white;
}
.container2 h1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  font-size: 50px;
}
p{
  display: flex;
  align-items: center;
  justify-content: center;
}  */

/* .tabelas {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
th{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

tr{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}
td{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
} */
